/*--------------------------------------------------------------
## Global styles
--------------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.65;
  color: #333;
  font-size: 16px; }

p {
  margin-bottom: 1.25em; }

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1rem;
  font-weight: 400;
  line-height: 1.15; }

h1 {
  margin-top: 0;
  font-size: 3.052em; }

h2 {
  font-size: 2.441em; }

h3 {
  font-size: 1.953em; }

h4 {
  font-size: 1.563em; }

h5 {
  font-size: 1.25em; }

small, .text_small {
  font-size: 0.8em; }

h1,
h2,
h3,
h4 {
  font-family: "PT Serif", serif; }

h1,
h2 {
  color: #00640C; }

small, .font_small {
  font-size: 0.707em; }

a {
  color: #00640C;
  -webkit-transition: color 0.15s ease;
  transition: color 0.15s ease; }
  a:hover {
    color: #003100; }

.green {
  color: #00640C; }

.screen-reader-text {
  opacity: 0;
  height: 0;
  position: absolute; }

#masthead {
  background-image: url("../img/large_background.jpeg");
  /*default image*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
  z-index: 1;
  margin-top: 50px; }
  #masthead::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #000;
    opacity: 0.2; }
  #masthead .btn-primary {
    width: 100%;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35); }
  #masthead p {
    color: #fff; }

@media screen and (max-width: 767px) {
  #masthead {
    background-size: cover; } }

#masthead {
  padding: 50px 0; }

.front_page #masthead {
  padding: 75px 0; }

.masthead_content {
  padding: 50px;
  background-color: rgba(0, 100, 13, 0.5);
  text-align: center; }
  .masthead_content h1 {
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 1px #333; }

.breadcrumbs {
  padding: 12px 0;
  -webkit-box-shadow: 0 10px 20px 0 rgba(46, 61, 73, 0.15);
  box-shadow: 0 10px 20px 0 rgba(46, 61, 73, 0.15);
  margin-bottom: 50px; }
  .breadcrumbs .post {
    margin: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    display: inline !important; }

.breadcrumb {
  margin: 0;
  background-color: #fff; }

.skip-link {
  position: absolute; }

.admin-bar .navbar-fixed-top {
  top: 32px; }

.navbar-default {
  background-color: #444;
  border: none; }
  .navbar-default .navbar-brand {
    color: #fff; }
  .navbar-default .navbar-brand:hover {
    color: #fff; }

.navbar-default .navbar-nav > li > a {
  color: #fff;
  position: relative; }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active {
  color: #fff;
  background-color: transparent; }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:active {
  background-color: transparent;
  color: #fff; }

@media (min-width: 768px) {
  .navbar-default .navbar-nav > li > a::before {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 100%;
    z-index: 1;
    background-color: #00640C;
    opacity: 0;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition: opacity 0.25s ease, -webkit-transform 0.25s ease;
    transition: opacity 0.25s ease, -webkit-transform 0.25s ease;
    transition: opacity 0.25s ease, transform 0.25s ease;
    transition: opacity 0.25s ease, transform 0.25s ease, -webkit-transform 0.25s ease; }
  .navbar-default .navbar-nav > li > a:hover::before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1; } }

.search_toggle {
  display: block;
  padding: 12px 15px;
  color: #fff;
  cursor: pointer; }

.search_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
  display: none; }

.dropdown-menu {
  background-color: #00640C; }

.dropdown-menu > li > a {
  color: #fff;
  background-color: transparent; }

.dropdown-menu > li > a:hover {
  color: #fff;
  background-color: #003100; }

.dropdown-menu > li > a:active,
.dropdown-menu > li > a:focus {
  color: #fff; }

.btn-primary {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #00640C;
  border: none;
  font-size: 1em;
  font-weight: 600;
  border-radius: 51px;
  letter-spacing: 1px;
  -webkit-transition: background-color 0.15s ease;
  transition: background-color 0.15s ease;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35); }
  .btn-primary:focus {
    background-color: #00640C; }
  .btn-primary:hover, .btn-primary:active {
    background-color: #003100;
    border: none; }

.btn-primary.btn-lg {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 22px;
  font-weight: 600; }

.content-area {
  padding-bottom: 50px; }

h1.page_heading {
  text-align: center;
  font-weight: 600;
  font-size: 2.8em; }

.index .post,
.archive .post,
.search_results .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-shadow: 0 10px 20px 0 rgba(46, 61, 73, 0.15);
  box-shadow: 0 10px 20px 0 rgba(46, 61, 73, 0.15);
  margin-bottom: 50px; }
  .index .post .post-thumbnail,
  .archive .post .post-thumbnail,
  .search_results .post .post-thumbnail {
    max-width: 25%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%; }
  .index .post .post-thumbnail img,
  .archive .post .post-thumbnail img,
  .search_results .post .post-thumbnail img {
    height: auto !important;
    width: 300px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .index .post .news_post_content,
  .archive .post .news_post_content,
  .search_results .post .news_post_content {
    max-width: 75%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    padding: 25px; }
    .index .post .news_post_content h3,
    .archive .post .news_post_content h3,
    .search_results .post .news_post_content h3 {
      margin-top: 0; }
    .index .post .news_post_content .btn-primary,
    .archive .post .news_post_content .btn-primary,
    .search_results .post .news_post_content .btn-primary {
      font-size: 1em;
      font-weight: 400;
      -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
      float: right;
      padding-left: 50px;
      padding-right: 50px; }
  .index .post .post-categories ul,
  .archive .post .post-categories ul,
  .search_results .post .post-categories ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .index .post .post-categories li,
  .archive .post .post-categories li,
  .search_results .post .post-categories li {
    display: inline; }
  .index .post .post-meta,
  .archive .post .post-meta,
  .search_results .post .post-meta {
    font-size: 0.85em;
    margin: 8px 0;
    font-weight: 700; }

@media screen and (max-width: 991px) {
  .index .post .post-thumbnail,
  .archive .post .post-thumbnail,
  .search_results .post .post-thumbnail {
    max-width: 33.33333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%; }
  .index .post .news_post_content,
  .archive .post .news_post_content,
  .search_results .post .news_post_content {
    max-width: 66.66666%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66666%;
    flex: 0 0 66.66666%; } }

@media screen and (max-width: 767px) {
  .index .post .post-thumbnail,
  .archive .post .post-thumbnail,
  .search_results .post .post-thumbnail {
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }
  .index .post .news_post_content,
  .archive .post .news_post_content,
  .search_results .post .news_post_content {
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; } }

.single_post .attachment-post-thumbnail,
.single_post .size-post-thumbnail,
.single_post .wp-post-image {
  display: block;
  width: 300px;
  height: auto;
  max-width: 100%;
  margin: 0 auto 25px auto; }

.single_post .post_link {
  display: none; }

.front_page h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600; }

.front_page .widget-title {
  font-size: 2em;
  color: #00640C; }

.front_page h4 {
  font-size: 1.25em; }

/*--------------------------------------------------------------
## Story
--------------------------------------------------------------*/
.story_content strong {
  margin: 8px 0 12px 0; }

.post-type-archive-story .archive-items {
  width: 1170px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .post-type-archive-story .archive-items::after {
    content: " ";
    -webkit-box-flex: 0;
    -ms-flex: 0 0 32%;
    flex: 0 0 32%; }

.post-type-archive-story .story,
.post-type-archive-story .type-story {
  max-width: 32%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 32%;
  flex: 0 0 32%;
  padding: 15px;
  -webkit-box-shadow: 0 10px 20px 0 rgba(46, 61, 73, 0.15);
  box-shadow: 0 10px 20px 0 rgba(46, 61, 73, 0.15);
  margin-bottom: 15px; }
  .post-type-archive-story .story img,
  .post-type-archive-story .type-story img {
    max-width: 100%;
    height: auto !important;
    display: block;
    margin: 0 auto; }

@media (max-width: 991px) {
  .post-type-archive-story .story,
  .post-type-archive-story .type-story {
    max-width: 49%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 49%;
    flex: 0 0 49%; } }

@media (max-width: 767px) {
  .post-type-archive-story .story,
  .post-type-archive-story .type-story {
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; } }

.search_result_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  .search_result_content .entry-summary {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .search_result_content .post-thumbnail {
    margin-right: 25px; }

@media screen and (max-width: 767px) {
  .search_result_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

.pagination {
  margin-top: 0; }
  .pagination .page-numbers {
    padding: 6px 8px;
    border: 2px solid #00640C;
    color: #fff;
    background-color: #00640C; }
  .pagination .page-numbers:hover {
    background-color: #003100;
    border-color: #003100; }
  .pagination .page-numbers.current {
    color: #555;
    background-color: #fff;
    border: 2px solid #D8D8D8; }
  .pagination .page-numbers.current:hover {
    background-color: #fff; }

input {
  padding: 6px 12px;
  border-radius: 25px;
  border: 1px solid #00640C;
  -webkit-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease; }
  input:focus {
    border: 1px solid #003100;
    outline: transparent; }

#content input[type="submit"],
#content input[type="button"] {
  padding: 6px 12px;
  display: block;
  border-radius: 25px;
  background-color: #00640C;
  text-align: center;
  color: #fff;
  width: 100%;
  cursor: pointer;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease; }
  #content input[type="submit"]:hover,
  #content input[type="button"]:hover {
    background-color: #003100; }

textarea {
  border-radius: 15px;
  border: 1px solid #00640C;
  -webkit-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
  padding: 6px 12px; }
  textarea:focus {
    border: 1px solid #003100;
    outline: transparent; }

#content .label-above .nf-field-label {
  margin-bottom: 2px; }
  #content .label-above .nf-field-label label {
    display: block;
    padding-left: 12px; }

#content .nf-field-container.labe-above {
  margin-bottom: 5px; }

#content .nf-field-container.labe-hidden {
  margin-bottom: 10px; }

.navbar .search-form {
  position: absolute;
  z-index: 9999;
  top: 100%;
  right: 0;
  width: 500px;
  height: 50px;
  background-color: rgba(0, 100, 12, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-transition: opacity 0.25s ease, -webkit-transform 0.25s ease;
  transition: opacity 0.25s ease, -webkit-transform 0.25s ease;
  transition: transform 0.25s ease, opacity 0.25s ease;
  transition: transform 0.25s ease, opacity 0.25s ease, -webkit-transform 0.25s ease; }
  .navbar .search-form > label {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0;
    height: 50px;
    position: relative; }
    .navbar .search-form > label::after {
      content: " ";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #fff;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: -webkit-transform 0.25s ease;
      transition: -webkit-transform 0.25s ease;
      transition: transform 0.25s ease;
      transition: transform 0.25s ease, -webkit-transform 0.25s ease;
      -webkit-transition-delay: 0.25s;
      transition-delay: 0.25s; }
  .navbar .search-form input[type="search"] {
    color: #fff;
    background-color: transparent;
    width: 100%;
    padding: 0 0 0 5px;
    border: none;
    height: 50px;
    line-height: 50px; }
    .navbar .search-form input[type="search"]::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.75); }
    .navbar .search-form input[type="search"]::-moz-placeholder {
      color: rgba(255, 255, 255, 0.75); }
    .navbar .search-form input[type="search"]:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.75); }
    .navbar .search-form input[type="search"]::-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.75); }
    .navbar .search-form input[type="search"]::placeholder {
      color: rgba(255, 255, 255, 0.75); }
  .navbar .search-form input[type="submit"] {
    border-radius: 0;
    border: 0;
    background-color: #00640C;
    color: #fff; }
    .navbar .search-form input[type="submit"]:hover {
      background-color: #003100; }

.navbar .search-form.active {
  -webkit-transform: scaleY(1);
  transform: scaleY(1); }
  .navbar .search-form.active > label::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }

@media screen and (max-width: 767px) {
  .navbar .search-form {
    width: 100%; } }

.widget-title {
  color: #00640C; }

.site-footer {
  background-color: #141414;
  padding: 75px 0; }
  .site-footer h3 {
    color: #fff; }
  .site-footer ul {
    padding: 0;
    margin: 0;
    list-style: none; }
  .site-footer a {
    color: #fff; }
    .site-footer a:hover {
      color: #fff;
      text-decoration: underline; }
  .site-footer .social_links li {
    margin-right: 10px; }
  .site-footer .social_links li:last-child {
    margin-right: 0; }
  .site-footer .social_links li a {
    border: 1px solid #fff;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    z-index: 1; }
  .site-footer .social_links li a::before {
    content: " ";
    position: absolute;
    background-color: #00640C;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.25s ease;
    transition: -webkit-transform 0.25s ease;
    transition: transform 0.25s ease;
    transition: transform 0.25s ease, -webkit-transform 0.25s ease;
    border-radius: 50%;
    z-index: -1; }
  .site-footer .social_links li a:hover::before {
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }
  .site-footer .copyright-info {
    padding-top: 20px;
    text-align: center; }

.footer_menu .sub-menu {
  padding-left: 10px; }
