/*--------------------------------------------------------------
## Global styles
--------------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.65;
  color: #333;
  font-size: 16px; }

p {
  margin-bottom: 1.25em; }

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1rem;
  font-weight: 400;
  line-height: 1.15; }

h1 {
  margin-top: 0;
  font-size: 3.052em; }

h2 {
  font-size: 2.441em; }

h3 {
  font-size: 1.953em; }

h4 {
  font-size: 1.563em; }

h5 {
  font-size: 1.25em; }

small, .text_small {
  font-size: 0.8em; }

h2,
h3,
h4 {
  font-family: "PT Serif", serif; }

h1,
h2 {
  color: #00640C; }

small, .font_small {
  font-size: 0.707em; }

a {
  color: #00640C;
  -webkit-transition: color 0.15s ease;
  transition: color 0.15s ease; }
  a:hover {
    color: #003100; }

.green {
  color: #00640C; }

.screen-reader-text {
  opacity: 0;
  height: 0;
  position: absolute; }

#masthead {
  background-image: url("../img/large_background.jpeg");
  /*default image*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
  z-index: 1;
  margin-top: 50px; }
  #masthead::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #000;
    opacity: 0.2; }
  #masthead .btn-primary {
    width: 100%;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35); }
  #masthead p {
    color: #fff; }

@media screen and (max-width: 767px) {
  #masthead {
    background-size: cover; } }

#masthead {
  padding: 50px 0; }

.front_page #masthead {
  padding: 75px 0; }

.masthead_content {
  padding: 50px;
  background-color: rgba(0, 100, 13, 0.5);
  text-align: center; }
  .masthead_content h1 {
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 1px #333; }

.breadcrumbs {
  padding: 12px 0;
  -webkit-box-shadow: 0 10px 20px 0 rgba(46, 61, 73, 0.15);
          box-shadow: 0 10px 20px 0 rgba(46, 61, 73, 0.15);
  margin-bottom: 50px; }

.breadcrumb {
  margin: 0;
  background-color: #fff; }

.skip-link {
  position: absolute; }

.admin-bar .navbar-fixed-top {
  top: 33px; }

.btn-primary {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #00640C;
  border: none;
  font-size: 1em;
  font-weight: 600;
  border-radius: 51px;
  letter-spacing: 1px;
  -webkit-transition: background-color 0.15s ease;
  transition: background-color 0.15s ease;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35); }
  .btn-primary:focus {
    background-color: #00640C; }
  .btn-primary:hover, .btn-primary:active {
    background-color: #003100;
    border: none; }

.btn-primary.btn-lg {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 22px;
  font-weight: 600; }

.content-area {
  padding-bottom: 50px; }

.index .post,
.archive .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0 10px 20px 0 rgba(46, 61, 73, 0.15);
          box-shadow: 0 10px 20px 0 rgba(46, 61, 73, 0.15);
  margin-bottom: 50px; }
  .index .post .post-thumbnail,
  .archive .post .post-thumbnail {
    max-width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%; }
  .index .post .post-thumbnail img,
  .archive .post .post-thumbnail img {
    height: auto !important;
    width: 300px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .index .post .news_post_content,
  .archive .post .news_post_content {
    max-width: 75%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    padding: 25px; }
    .index .post .news_post_content h3,
    .archive .post .news_post_content h3 {
      margin-top: 0; }
    .index .post .news_post_content .btn-primary,
    .archive .post .news_post_content .btn-primary {
      font-size: 1em;
      font-weight: 400;
      -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
              box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
      float: right;
      padding-left: 50px;
      padding-right: 50px; }
  .index .post .post-categories ul,
  .archive .post .post-categories ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .index .post .post-categories li,
  .archive .post .post-categories li {
    display: inline; }
  .index .post .post-meta,
  .archive .post .post-meta {
    font-size: 0.85em;
    margin: 8px 0;
    font-weight: 700; }

@media screen and (max-width: 991px) {
  .index .post .post-thumbnail,
  .archive .post .post-thumbnail {
    max-width: 33.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%; }
  .index .post .news_post_content,
  .archive .post .news_post_content {
    max-width: 66.66666%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66666%;
            flex: 0 0 66.66666%; } }

@media screen and (max-width: 767px) {
  .index .post .post-thumbnail,
  .archive .post .post-thumbnail {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; }
  .index .post .news_post_content,
  .archive .post .news_post_content {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; } }

.single_post .attachment-post-thumbnail,
.single_post .size-post-thumbnail,
.single_post .wp-post-image {
  display: block;
  width: 300px;
  height: auto;
  max-width: 100%;
  margin: 0 auto 25px auto; }

.single_post .post_link {
  display: none; }

.front_page h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600; }

.front_page .widget-title {
  font-size: 2em;
  color: #00640C; }

.front_page h4 {
  font-size: 1.25em; }

/*--------------------------------------------------------------
## Story
--------------------------------------------------------------*/
.pagination {
  margin-top: 0; }
  .pagination .page-numbers {
    padding: 6px 8px;
    border: 2px solid #00640C;
    color: #fff;
    background-color: #00640C; }
  .pagination .page-numbers:hover {
    background-color: #003100;
    border-color: #003100; }
  .pagination .page-numbers.current {
    color: #555;
    background-color: #fff;
    border: 2px solid #D8D8D8; }
  .pagination .page-numbers.current:hover {
    background-color: #fff; }

.site-footer {
  background-color: #141414;
  padding: 75px 0; }
  .site-footer h3 {
    color: #fff; }
  .site-footer ul {
    padding: 0;
    margin: 0;
    list-style: none; }
  .site-footer a {
    color: #fff; }
    .site-footer a:hover {
      color: #fff;
      text-decoration: underline; }
