input {
	padding: 6px 12px;
	border-radius: 25px;
	border: 1px solid $green;
	transition: border-color 0.25s ease;

	&:focus {
		border: 1px solid $dark_green;
		outline: transparent;
	}
}

#content input[type="submit"],
#content input[type="button"] {
	padding: 6px 12px;
	display: block;
	border-radius: 25px;
	background-color: $green;
	text-align: center;
	color: #fff;
	width: 100%;
	cursor: pointer;
	transition: background-color 0.25s ease;

	&:hover {
		background-color: $dark_green;
	}
}

textarea {
	border-radius: 15px;
	border: 1px solid $green;
	transition: border-color 0.25s ease;
	padding: 6px 12px;

	&:focus {
		border: 1px solid $dark_green;
		outline: transparent;
	}
}

//ninja forms
//content is id for page. to override NF styles
#content .label-above .nf-field-label {
	margin-bottom: 2px;

	label {
		display: block;
		padding-left: 12px;
	}
}

#content .nf-field-container.labe-above {
	margin-bottom: 5px;
}

#content .nf-field-container.labe-hidden {
	margin-bottom: 10px;
}

.navbar .search-form {
	position: absolute;
	z-index: 9999;
	top: 100%;
	right: 0;
	width: 500px;
	height: 50px;
	background-color: rgba(0, 100, 12, 0.7);
	display: flex;
	transform: scaleY(0);
	transform-origin: top center;
	transition: transform 0.25s ease, opacity 0.25s ease;

	& > label {
		flex: 1;
		margin: 0;
		height: 50px;
		position: relative;

		&::after {
			content: " ";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #fff;
			transform: scaleX(0);
			transition: transform 0.25s ease;
			transition-delay: 0.25s;
		}
	}

	input[type="search"] {
		color: #fff;
		background-color: transparent;
		width: 100%;
		padding: 0 0 0 5px;
		border: none;
		height: 50px;
		line-height: 50px;

		&::placeholder {
			color: rgba(255, 255, 255, 0.75);
		}
	}

	input[type="submit"] {
		border-radius: 0;
		border: 0;
		background-color: $green;
		color: #fff;

		&:hover {
			background-color: $dark_green;
		}
	}
}

.navbar .search-form.active {
	transform: scaleY(1);
	
	& > label {
		&::after {
			transform: scaleX(1);
		}
	}
}

@media screen and (max-width: 767px){
	.navbar .search-form {
		width: 100%;
	}
}