.index,
.archive,
.search_results {
	.post {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
		box-shadow: $diffuse_shadow;
		margin-bottom: 50px;

		.post-thumbnail {
			max-width: 25%;
			flex: 0 0 25%;
		}

		.post-thumbnail img {
			height: auto !important;
			width: 300px;
			max-width: 100%;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		
		.news_post_content {
			max-width: 75%;
			flex: 0 0 75%;
			padding: 25px;

			h3 {
				margin-top: 0;
			}

			.btn-primary {
				font-size: 1em;
				font-weight: 400;
				box-shadow: $button_shadow;
				float: right;
				padding-left: 50px;
				padding-right: 50px;
			}
		}

		.post-categories ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		.post-categories li {
			display: inline;
		}

		.post-meta {
			font-size: 0.85em;
			margin: 8px 0;
			font-weight: 700;
		}
	}
}

@media screen and (max-width: 991px){
	.index,
	.archive,
	.search_results {
		.post .post-thumbnail {
			max-width: 33.33333%;
			flex: 0 0 33.33333%;
		}

		.post .news_post_content {
			max-width: 66.66666%;
			flex: 0 0 66.66666%;
		}
	}
}

@media screen and (max-width: 767px){
	.index,
	.archive,
	.search_results {
		.post .post-thumbnail {
			max-width: 100%;
			flex: 0 0 100%;
		}

		.post .news_post_content {
			max-width: 100%;
			flex: 0 0 100%;
		}
	}
}

.single_post {

	.attachment-post-thumbnail,
	.size-post-thumbnail,
	.wp-post-image{
		display: block;
		width: 300px;
		height: auto;
		max-width: 100%;
		margin: 0 auto 25px auto;
	}

	.post_link {
		display: none;
	}
}

@media screen and (max-width: 767px){
	.post_link {
		width: 100%;
		text-align: center;
	}
}