/*--------------------------------------------------------------
## Story
--------------------------------------------------------------*/

.story_content {
	strong {
		margin: 8px 0 12px 0;
	}
}

//story archives
//page container class
.post-type-archive-story {
	.archive-items {
		width: 1170px;
		max-width: 100%;
		display: flex;
		margin-left: auto;
		margin-right: auto;
		padding: 0 15px;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;

		&::after {
			content: " ";
			flex: 0 0 32%;
		}
	}

	.story,
	.type-story {
		max-width: 32%;
		flex: 0 0 32%;
		padding: 15px;
		box-shadow: $diffuse_shadow;
		margin-bottom: 15px;

		img {
			max-width: 100%;
			height: auto !important;
			display: block;
			margin: 0 auto;
		}
	}
}

@media (max-width: 991px){
	.post-type-archive-story {
		.story,
		.type-story {
			max-width: 49%;
			flex: 0 0 49%;			
		}
	}	
}

@media (max-width: 767px){
	.post-type-archive-story {
		.story,
		.type-story {
			max-width: 100%;
			flex: 0 0 100%;			
		}
	}	
}