// html {font-size: 18px;}

// body {
//   background-color: white;
//   font-family: $body-copy;
//   font-weight: 400;
//   line-height: 1.55;
//   color: #333;
// }

// p {margin-bottom: 1.3em;}

// h1, h2, h3, h4 {
//   margin: 0.5 0 0.5em;
//   font-weight: inherit;
//   line-height: 1.2;
// }

// h1 {
//   margin-top: 0;
//   font-size: 3.998em;
// }

// h2 {font-size: 2.827em;}

// h3 {font-size: 1.999em;}

// h4 {font-size: 1.414em;}

body {
  background-color: #fff;
  font-family: $body-copy;
  font-weight: 400;
  line-height: 1.65;
  color: #333;
  font-size: 16px;
}

p {margin-bottom: 1.25em;}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1rem;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {font-size: 2.441em;}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5 {font-size: 1.25em;}

small, .text_small {font-size: 0.8em;}


h2,
h3,
h4 {
  font-family: $heading-font;
}

h1,
h2 {
  color: $green;
}

small, .font_small {font-size: 0.707em;}

a {
  color: $green;
  transition: color 0.15s ease;

  &:hover {
    color: $dark_green;
  }
}

.green {
  color: $green;
}

.screen-reader-text {
  opacity: 0;
  height: 0;
  position: absolute;
}