$green: #00640C;
//rgba(0, 100, 13, 1);

$dark_green: #003100;

$faint_green: #DEEFE0;

$light_gray: #d8d8d8;

$body-copy: 'Open Sans', sans-serif;
$heading-font: 'PT Serif', serif;

$button_shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
$heading_shadow: 1px 1px 1px #333;
$diffuse_shadow: 0 10px 20px 0 rgba(46,61,73, 0.15);